a{color:#7a7a7a}
body{background:#e8e8e8;color:#000;font-family:arial;font-size:16px;transition:font-size 1s}
footer{background:#2356bb;color:rgba(255,255,255,0.5);padding:1em 0;text-align:center;width:100%;}
footer h3{color:#fff;font-size:14px;font-weight:normal;}
footer h3 strong{display:block}
footer h3 .creditos:after,footer h3 .creditos:before{content:" - "}
header{background:#2356bb;color:#fff;padding:.8em;}
header .logoSIAM{border-right:1px solid #fff;float:left;width:180px;}
header .logoSIAM img{border-radius:10%;width:120px;height:55px;margin-top:.5em;margin-left:1.5em}
header .registroPaciente{text-align:center;font-style:italic}
nav{background:#4398bd;border-left:10px solid #fff;}
nav:before{border-bottom:20px solid transparent;border-left:7px solid #fff;border-top:20px solid transparent;content:"";left:0;position:absolute;top:0}
nav .menu{height:40px;line-height:40px;margin:0;overflow-x:auto;padding:0;white-space:nowrap;}
nav .menu::-webkit-scrollbar{display:none}
nav .menu li{display:inline-block;}
nav .menu li a{color:#fff;display:block;margin:0 .5em;padding:0 .2em;text-decoration:none;}
nav .menu li a:hover{background:rgba(0,0,0,0.1)}
section{padding:.8em;}
section .formulario{background:#fff;box-shadow:2px 2px 10px rgba(0,0,0,0.5);border-radius:0 0 .5em .5em;color:#7a7a7a;margin-bottom:.5em;padding:.8em;align:center;}
section .formulario .campoEntrada{width:400px;horizontal-align:right}
section .formulario .datosPaciente{align:center}
section .formulario .eventos{border-top:3px solid #4398bd;padding:.5em;}
section .formulario .eventos input{width:100px}
section .formulario .imgFotoPaciente{float:left;margin-top:50px;}
section .formulario .imgFotoPaciente img{padding:.5em;vertical-align:top;horizontal-align:center;height:170px;width:150px}
section .formulario label{display:inline-block;width:200px}
@media screen and (max-width: 768px){header{padding:.3em;}
header .logoSIAM{width:125px;}
header .logoSIAM img{border-radius:10%;height:50px;margin-top:1em;margin-left:1em;width:100px}
header .registroPaciente{font-size:15px}
section .formulario{padding:1em;}
section .formulario .campoEntrada{width:100%;horizontal-align:right}
section .formulario .datosPaciente .titulo{font-size:16px;clear:left}
section .formulario .imgFotoPaciente{position:left;margin-top:0;margin-left:4em;left:0;top:0}
section .formulario .label{font-size:15px}
}